<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/news_server_parser?UseUnicode=true</property>
  <property name="hibernate.connection.username">news_server_parser_admin</property>
  <property name="hibernate.connection.password">parser_app</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
  <property name="hbm2ddl.auto">validate</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <mapping class="com.dasbikash.news_server_parser.model.Language"/>
  <mapping class="com.dasbikash.news_server_parser.model.Country"/>
  <mapping class="com.dasbikash.news_server_parser.model.Newspaper"/>
  <mapping class="com.dasbikash.news_server_parser.model.Page"/>
  <mapping class="com.dasbikash.news_server_parser.model.Article"/>
 </session-factory>
</hibernate-configuration>
